.btn-purple {
    background: #007bff;
    color: white;
}

.container {
    position: relative;
}

.mt-20 {
    margin-bottom: 20px;
}

.w-85 {
    width: 85%;
}

.add-image {
    background: #e0e0e0;
    border-radius: 10px;
    padding: 100px;
    margin-bottom: 10px;
}

.btn-purple:hover {
    color: white;
}

.btn-white {
    background: white;
}

button {
    text-transform: uppercase;
}

strong {
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
}

input {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}

select {
    width: 50%;
    height: 30px;
}

p {
    text-align: center;
}
.nav-link:hover {
    color: #007bff !important;
}

.navbar-brand {
    font-family: fantasy;
    font-size: 30px;
}

.navbar-brand:hover {
    color: #007bff !important;
}

a {
    color: white;
    text-decoration: none !important;
    padding: 0 20px;
    text-transform: uppercase;
}

a:hover {
    color: white;
}

.linkCadastro {
    font-size: 11px;
    color: black;
    font-weight: bold;
}

.linkCadastro:hover {
    color: #007bff;
}

.mt-70 {
    margin-top: 70px;
}

.linkLogin {
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.linkLogin:hover {
    color: #007bff;
}

.img-quiz {
    border-radius: 10px;
}

.answer-quiz {
    background-color: #dcdcdc;
    text-align: center;
    padding: 10px;
}

.result-quiz {
    background-color: #dcdcdc;
    padding: 10px;
}

.share-quiz {

}

.btn-share {
    background: #2153b7;
    border: 1px solid #bbb;
    width: 100%;
    color: white;
    font-weight: bold;
    border-radius: unset;
    padding: 10px;
}
.btn-answer {
    border: 1px solid #bbb;
    width: 32%;
    color: black;
    font-weight: bold;
    border-radius: unset;
    padding: 10px;
}

.btn-answer:hover {
    color: white;
    background: #007bff;
}

.result-description {
    font-weight: 600;
    font-size: 18px;
    color: #555;
    text-align: justify;
}

.navbar {
    background-color: #007bff;
    padding: 0
}

.navbar .nav-item a {
    padding: 23px 0;
}

.navbar a {
    padding: 5px;
}
.navbar a:hover {
    background-color: white;
}

.btn-primary i {
    color: white;
}
i {
    color: #007bff;
    padding: 0;
    font-size: 24px;
}
